.nb{
    width : 30%;
    /* height : 1000px; */
    background-color: white;
}
.pb{
    width : 40%;
    /* height : 1000px; */
    background-color: white;
}
.tb{
    width : 30%;
    /* height : 500px; */
    background-color: white;
}
.rb{
    width : 30%;
    /* height : 1000px; */
    background-color: white;
}
.airportlogo{
    width: 100px;
    height: 100px;
    position: sticky;
}
.carousel-container {
    width: 400px; /* Set the width of the container */
    height: 100%; /* Set the height to 100% to fill the container vertically */
    /* Add any other styling you need for the container */
}
  
.carousel-image {
    width: 100%; /* Make the images fit the width of the container */
    height: auto; /* Automatically adjust the height to maintain the aspect ratio */
    /* Add any other styling you need for the images */
}

.bt1{
    color: black;
    border-color: black;
    background-color: sandybrown;   
    border-radius: 20%;
}

.bt2{
    color: black;
    border-color: black;
    background-color: sandybrown;   
    border-radius: 30%;
}


.rt {
    display: flex;
    justify-content: space-between; /* Distribute items along the main axis, pushing them to the left and right ends */
    align-items: center; /* Center items vertically */
}

nav {
    flex: 1; /* Let the nav element take up the remaining space */
    margin-right: 10px; /* Add some spacing between nav and form */
}

.fieldset {
    display: flex; /* Set the display property to flex */
    align-items: center; /* Center items vertically */
}

.searchtool {
    background-color: white;
    width: 1000px;
}

.searchbt {
    color: black;
    border-color: black;
    background-color: sandybrown;   
    width: 150px; 
}
.searchdiv2{
    display: flex; /* Set the display property to flex */
    gap: 10px; /* Add some spacing between buttons */
}
.searchdiv1{
    display: flex; /* Set the display property to flex */
    align-items: center; /* Center items vertically */
    gap: 10px; /* Add some spacing between input and Searchtool */
}

header nav ul li h1{
    font-size:100px;
    font-style: italic;
    color:sandybrown
}

.rate{
    display: 
}